#shadow-item {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 1em
  
}

#shadow-image {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 1em
  
}

#betterMargins {
  padding-left: 1em;
  padding-bottom: 1em;
}

#labelPosition {
  float: right;
}
